.card {
	width: 100%;

	.usrChip {
		display: flex;
		padding: 10px;
		position: relative;
		width: 100%;
		.userChipOptions {
			padding-left: 5px;
			a {
				text-transform: uppercase;
				color: #037fff;
				padding-right: 5px;
			}
			.late {
				opacity: 0.5;
			}
		}
		.delete {
			position: absolute;
			right: 5px;
			// width: 4px;
			// height: 4px;
			padding: 5px;
			// background-color: gray;
			box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
				rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
			// opacity: 0.7;
			// border: 1px solid gray;
			border-radius: 100%;
			cursor: pointer;
		}
		.confirm {
			display: none;
			border-radius: 10px;
			position: absolute;
			background: rgb(54, 54, 54);
			// width: 100px;
			box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
				rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
			// height: 3rem;
			p {
				color: #fff;
				padding: 5px;
				font-size: 1rem;
			}

			.btns {
				margin: 0 0 5px 8px;
				display: flex;
			}
		}
	}
	.open .confirm {
		display: block;
	}
	.card-content {
		padding: 15px;

		h4 {
			margin: 0;
			padding-bottom: 5px;
		}
		.options {
			display: flex;
			padding: 10px;
			justify-content: space-around;
			.liked {
				color: #037fff;
			}
		}
		.optionsCount {
			display: flex;
			justify-content: space-between;
			margin: 10px;
		}

		.card-image {
			padding: 10px 0;
		}
		.like {
			cursor: pointer;
		}
	}
}
