.container-o {
	margin: 15px 0 0 0;
	border-radius: 15px;
	box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.4);
	// position: absolute;
	bottom: 0;
	width: 100%;
}

.reply-details-header-details {
	display: flex;
	position: relative;
	align-items: center;
	width: 100%;
	margin-left: 1rem;
}

.reply-details-header-avatar {
	margin: 5px 0 0 0;
	border: 2px solid #037fff !important;
}

.reply-form {
	display: flex;
	.text-area {
		width: 100%;
		height: 100%;
		border: 1px solid #037fff;
		resize: none;
		outline: none;
		padding: 5px;
		font-size: 1rem;
		border-radius: 15px;
		background-color: #f5f5f5;
		&::placeholder {
			color: #037fff;
		}
	}
}

.submit-comment-button {
	border: none;
	color: #037fff;
	margin-left: 5px;
	cursor: pointer;
}
