.container {
	margin-top: 3rem;
	.card-content {
		padding: 0 20px;
	}
	.photos {
		width: 100%;
	}
}

.add-story-textarea {
	display: block;
	overflow: hidden;

	padding: 5px;
	width: 100%;
	font-size: 14px;
	margin: 10px auto;
	border-radius: 6px;
	height: 50vh;

	&:focus {
		border: 1px solid rgb(84, 173, 84);
		outline: none;
	}
}
