.msg-main {
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	h4 {
		font-size: 2rem;
		font-weight: 500;
	}
}

.msg-search {
	width: 60%;
	height: 2rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
	outline: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3f81c2;
	.search {
		width: 100%;
		height: 100%;
		border-bottom: none !important;
		// border: none;
		background-color: transparent !important;
		font-size: 1.5rem;
		font-weight: 500;
		margin: 1rem 0;
		color: white;
		&::placeholder {
			color: white;
			margin-top: 0.5rem;
		}
		&:focus {
			outline: none !important;
			border-bottom: none !important;
		}
	}
	i {
		font-size: 1.5rem;
		color: #bdbdbd;
	}
}

.msg-body {
	width: 100%;
	height: 100%;
	margin: 0.5rem 0;
	.lo {
		display: flex;
		justify-content: center;
	}
	.card-body {
		display: flex;
		padding: 0.5rem 0;
		&:hover {
			background-color: #c2c0c0;
			border-radius: 0.5rem;
		}
		.msg-left {
			margin-right: 0.5rem;
		}

		.msg-right {
			width: 100%;
			h4 {
				font-size: 1.5rem;
				font-weight: 500;
				padding: 0;
				margin: 0;
				color: #255b91;
			}
			display: flex;
			justify-content: space-between;
			.msg-center-content {
				font-weight: 500;
			}
			.read {
				opacity: 0.5;
			}
			.msg-right-end {
				font-size: 1rem;
				color: #b3b1b1;
				.status {
					width: 1.2rem;
					height: 1.2rem;
					display: flex;
					justify-content: center;
					align-items: center;
					border-radius: 100%;
					border: 1px solid #b3b1b1;
					i {
						font-size: 1rem;
						color: #b3b1b1;
					}
				}
			}
		}
	}
}
