.show-a-comment {
	margin-bottom: 10px;
	display: flex;
}

.comment-header {
	display: flex;
	width: fit-content;
	padding: 5px 0;
	margin-left: 3px;
	flex-direction: column;
	background-color: #dbdad9;
	border-radius: 10px;
	position: relative;

	.comment-header-avatar {
		margin-left: 5px;
	}
	.more-btn {
		right: 10px;
		cursor: pointer;
		&:hover {
			color: #00bcd4;
		}
	}
	.more-options {
		position: absolute;
		top: -5px;
		right: 2rem;
		z-index: 1;
		cursor: pointer;
	}
	.comment-header-name {
		padding-left: 5px;
		display: flex;
		justify-content: space-between;
		.comment-header-list {
			margin-left: 5px;
			.name {
				text-transform: capitalize;
				padding-right: 5px;
			}
		}
	}
}

.comment-content {
	// padding: 10px;
	// margin-left: 3rem;
	// width: 70%;
	// max-width: 700px;
	// text-align: justify;
	// border-radius: 10px;
	position: relative;
	// border-top-left-radius: 0;
	background-color: #dbdad9;
	p {
		margin-bottom: 0;
		padding: 1rem;
	}
}
