.card {
	.usrChip {
		display: flex;
		padding: 10px;
		.userChipOptions {
			padding-left: 5px;
			a {
				text-transform: uppercase;
				color: #037fff;
				padding-right: 5px;
			}
			.late {
				opacity: 0.5;
			}
		}
	}
	.card-content {
		padding: 15px;

		h4 {
			margin: 0;
			padding-bottom: 5px;
		}
		.options {
			display: flex;
			padding: 10px;
			justify-content: space-around;
			.liked {
				color: #037fff;
			}
		}
		.optionsCount {
			display: flex;
			justify-content: space-between;
			margin: 10px;
		}

		.card-image {
			padding: 1px 0;
			height: 100%;
		}
	}
}

.comments {
	position: relative;
	margin: 1rem;
	// height: 50vh;
	overflow: hidden;
	.show-comments {
		// padding: 2rem;
		overflow-y: scroll;
		margin-bottom: 5rem;
		text-align: justify;
		.more {
			display: flex;
			margin-left: 3.5rem;
			justify-content: space-between;
			width: 60%;
			max-width: 600px;
			margin-top: -8px;
			text-transform: capitalize;
			cursor: pointer;
			.action {
				display: flex;
			}
			.count {
				display: flex;
			}
			span {
				margin-right: 10px;
			}
		}
	}
	.comment-input {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	.empty {
		height: 20vh;
	}
}

.show-comments::-webkit-scrollbar {
	display: none;
}

.show {
	display: block;
}

.hide {
	display: none;
}

.window {
	height: 55%;
	top: 45%;
	width: 100%;
	z-index: 10;
	background-color: #f1f1f0;
	left: 0;
	position: absolute;
	overflow: hidden;
	.window-header {
		float: right;
		padding: 10px;
		cursor: pointer;
	}
	.replies {
		overflow: hidden;
		// margin-bottom: 5rem;
		.main-replies {
			margin: 1rem;
			// padding: 10px;
		}
		.replies-list {
			overflow-y: scroll;
			height: 350px;
			// margin-bottom: 10rem;
			padding: 10px;
		}
	}
	.replies-input {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

.replies-list::-webkit-scrollbar {
	width: 4px;
}
.replies-list::-webkit-scrollbar-thumb {
	background-color: white;
	border-radius: 50px;
}
.replies-list::-webkit-scrollbar-track {
	background-color: #f1f1f0;
}
