.card{
    .usrChip{
        display: flex;
        padding: 10px;
       .userChipOptions{
           padding-left: 5px;
           a{
               text-transform: uppercase;
               color:#037fff;
               padding-right: 5px;
           }
           .late{
               opacity: .5;
           }
       }
    }
    .card-content{
    padding: 15px;
    
    h4{
        margin: 0;
        padding-bottom: 5px;
    }
    .options{
        display: flex;
        padding: 10px;
        justify-content: space-around;
        .liked{
            color: #037fff;
        }
    }
    .optionsCount{
        display: flex;
        justify-content: space-between;
        margin: 10px;
    }
    
    .card-image{
        padding: 1px 0;
    }
}
}