.container {
	margin-bottom: 1rem;
}

.card {
	.usrChip {
		display: flex;
		padding: 10px;
		.userChipOptions {
			padding-left: 5px;
			a {
				text-transform: uppercase;
				color: #037fff;
				padding-right: 5px;
			}
			.late {
				opacity: 0.5;
			}
		}
	}
	.card-content {
		padding: 5px;

		h4 {
			margin: 0;
			padding-bottom: 5px;
		}
		.options {
			display: flex;
			padding: 10px;
			justify-content: space-around;
			.liked {
				color: #037fff;
			}
		}
		.optionsCount {
			display: flex;
			justify-content: space-between;
			margin: 10px;
		}

		.single-image-container {
			display: flex;
			justify-content: center;
			position: relative;
			.single-image {
				max-height: 550px;
				width: 100%;
				object-fit: contain;
			}
		}
	}
}

.comments {
	position: relative;
	margin: 1rem;
	// height: 50vh;
	overflow: hidden;
	.show-comments {
		// padding: 2rem;
		overflow-y: scroll;
		margin-bottom: 5rem;
		text-align: justify;
		.more {
			display: flex;
			margin-left: 3.5rem;
			justify-content: space-between;
			width: 60%;
			max-width: 600px;
			margin-top: -8px;
			text-transform: capitalize;
			cursor: pointer;
			.action {
				display: flex;
			}
			.count {
				display: flex;
			}
			span {
				margin-right: 10px;
			}
		}
		.space {
			margin-bottom: 1rem;
		}
	}
	.comment-input {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	.empty {
		height: 20vh;
	}
}

.show-comments::-webkit-scrollbar {
	display: none;
}

// .show {
// 	display: block;
// }

// .hide {
// 	display: none;
// }

.replies-main-window {
	height: auto;
	// top: 45%;
	width: 100%;
	bottom: -70%;
	z-index: 10;
	background-color: #f1f1f0;
	left: 0;
	transition: 0.5s;
	transition-property: bottom;
	position: absolute;
	overflow: hidden;
	.head {
		display: flex;
		height: 3rem;
		width: 100%;
		justify-content: space-between;
		span {
			color: #0037ff;
			font-size: 1.5rem;
			opacity: 0.5;
			text-align: center !important;
		}
		.close-btn {
			// float: right;
			height: 10px;
			padding: 10px;
			cursor: pointer;
			color: red;
		}
	}
	.body {
		// overflow-y: scroll;
		padding-bottom: 10px;
		height: 100%;
	}
	.replies {
		// overflow: hidden;
		// margin-bottom: 5rem;
		.main-replies {
			margin: 1rem;
			// padding: 10px;
		}
		.replies-list {
			height: auto;
			// margin-bottom: 10rem;
			padding: 10px;
			overflow-y: scroll;
		}
	}
	.replies-input {
		background-color: white;
		position: relative;
		width: 100%;
	}
}

.animate-in .replies-main-window {
	bottom: 0;
}

.replies-list::-webkit-scrollbar {
	width: 5px;
}
.replies-list::-webkit-scrollbar-thumb {
	background-color: #037fff;
	border-radius: 50px;
}
.replies-list::-webkit-scrollbar-track {
	background-color: #f1f1f0;
}
