.formRow {
	width: 100%;
	padding-bottom: 0.5rem;
	.formInput {
		width: 100% !important;
		font-size: 1.5rem;
		line-height: 1;
		font-weight: 400;
		padding: 10px 5px;
		border-bottom: none !important;
		margin: 10px auto;
		outline: none;
		&:focus {
			outline: none !important;
			border-bottom: none !important;
		}
	}
}
