.card {
	.card-image {
		.img-con {
			display: flex;
			align-items: center;
			position: relative;
			width: fit-content;
			.dash-img {
				width: 100%;
				max-height: 550px;
				object-fit: contain;
			}
		}
	}
	.card-action {
		display: flex;
		h5 {
			margin-right: 10px;
		}
	}
	.card-content {
		.halfway {
			float: right;
			margin-top: 2rem;
		}
		.hide-input {
			form {
				input {
					display: none;
				}
				button {
					display: none;
				}
			}
		}

		.show-input {
			form {
				input {
					display: flex;
				}
				button {
					display: flex;
				}
			}
			.section {
				display: flex;
				.shift {
					margin-left: 15px;
				}
			}
		}
		form {
			padding-left: 10px;
			h6 {
				color: #037fff;
			}
		}
	}
}
