.container {
	margin: 15px 0 0 0;
	border-radius: 15px;
	background-color: white;
	box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.4);
	position: relative;
	width: 100%;
}

.post-details-header-details {
	display: flex;
	position: relative;
	align-items: center;
	width: 100%;
	margin-left: 1rem;
}

.post-details-header-avatar {
	margin: 0 2px 0 0;
	border: 2px solid #037fff !important;
}

.post-form {
	display: flex;
	.comment-textarea {
		width: 100%;
		// height: 100px;
		border: none;
		border-radius: 15px;
		padding: 10px;
		resize: none;
		outline: none;
		font-size: 1.2rem;
		border: 1px solid #037fff;
		&:focus {
			border-color: #037fff;
			outline: none;
		}
	}
}
