.main-header {
	display: flex;
	width: 50%;
	padding: 10px 0;
	background-color: #fff;
	border-radius: 10px;
	border-bottom-right-radius: 0;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
		rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	.main-header-avatar {
		margin-left: 5px;
	}
	.main-header-name {
		padding-left: 5px;
		.name {
			text-transform: capitalize;
			padding-right: 5px;
		}
	}
}

.main-content {
	padding: 10px;
	margin-left: 3rem;
	width: 70%;
	max-width: 700px;
	border-radius: 10px;
	border-top-left-radius: 0;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
		rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
	word-break: break-all;
	
		margin-bottom: 0;
		padding: 1rem;
	
}

.he {
	margin-top: 0.5rem;
}
